@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,200;1,300;1,600&display=swap');

#grid-parent {
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
}

.grid-child {
    padding: 2em;
    border-radius: 20px;
}

body {
    background-image: url(/assets/spiraltile3.svg);
    color: white;
    font-family: 'IBM Plex Mono', monospace !important;
    font-style: italic;
}


#content, #about{
    background-color: #000000d0;
    padding:2em;
}

.form-control  {
    background-color: #000000;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
}

.vert-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 5em;
}