#grid-parent {
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
}

.grid-child {
    padding: 2em;
    border-radius: 20px;
}

body {
    background-image: url(/assets/spiraltile3.svg);
    color: white;
}


#content, #about{
    background-color: #000000d0;
    padding:2em;
}

.form-control  {
    background-color: #000000;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
}
